.work-experience-section {
    display: flex;
    justify-content: center;
    padding: 20px; 
}

.work-experience-content {
    padding-left: 100px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    display: block;
    width: 150px;
    height: 3px;
    margin-bottom: 20px;
    background-color: aqua;
}

.date {
    color: #000000;
}

.skill {
    background-color: rgb(27, 19, 145); 
    text-align: center;
    height: auto;
    width: 10rem;
    padding: 8px;
    margin: 3px;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.inside-info {
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
} 

.inside-info h3 {
    text-decoration: underline;
    font-size: 2.4rem; 
}

.inside-info h4 {
    font-style: italic;
}

.inside-info p {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width:700px) {
    .work-experience-content {
    padding: 0; 
    } 
}