.home-section {
    padding: 20px;
}

.home-content  {
    display: flex;
    flex-direction: column;
    width: 800px;
    color: white;
}

.home-content h2 {
    margin-top: 20px;
    color: turquoise;
}

.buttons {
    display: flex;
    margin-top: 20px;
}

.home-link {
    text-align: center;
    width: 10rem;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.home-link:hover {
    transition-duration: 0.5s;
    width: 250px;
    color: black;
}

.enquiries {
    background-color: blue;
    border: 4px solid aquamarine;
}

.enquiries:hover {
    background-color: lightblue;
}

.downloadCV {
    background-color: purple;
    border: 4px solid pink;
}

.downloadCV:hover {
    background-color: plum;
}

.downloadCV a {
    text-decoration: none;
    color: white;
}

.downloadCV a:hover {
    color: black;
}

@media (max-width:1000px) {
    .sidebar {
    display: none;
    }
}